#calculadora {
    background: rgb(72, 170, 154);
    width: 200px;
    padding: 20px;
    border-radius: 20px;
}
#calculadora input {
    background: rgb(149, 255, 213);
    color: rgb(61, 255, 223);
    border-radius: 10px;
    padding: 5px;
}
#calculadora button {
    background: rgb(160, 178, 255);
    color: rgb(9, 47, 116);
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
}
#calculadora button:hover{
    background: rgb(29, 134, 182);
    color: rgb(67, 138, 185);
    cursor: pointer;
}
#spTotal {
    background: rgb(60, 171, 214);
    color: rgb(30, 43, 226);
    border-radius: 10px;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
}
.spLista {
    background: rgb(171, 141, 255);
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(2, 51, 92);
    width: 200px;
}

